@model DataStructureSite.Models.Datastructure
@using DataStructureSite.Models

@{
    Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/style/Style.css" />

<body>
    <div class="jumbotron">
        <h2>Welcome to my Data Structure review App</h2>
    </div>

</body>


